$navbar-light-color:#eb246d;
$navbar-light-hover-color:#a6e22a;
$navbar-light-active-color:#a6e22a;
$navbar-light-disabled-color:#6d6e6a;
$navbar-light-toggler-icon-bg:str-replace(url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAPBAMAAADuVgmRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEX///9gYG1hYW1hYG3///8j9KWZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAHdElNRQfiCBoNKw92m5+4AAAAIklEQVQI12MQhAFFRRApwEAfALRKCGgjvayDAWGIV+E+BQCD4AK1r5yfDgAAAABJRU5ErkJggg=="), "#", "%23") !default;
$navbar-light-toggler-border-color:#6d6e6a;